* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #d6e2f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-card{
    max-width: 320px;
    background-color: whitesmoke;
    padding: 16px 16px 32px 16px;
    border-radius: 25px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05) ; 
  text-align: center;
} 

.qr-code {
    background-color: #2c7dfa;;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 24px;
}

.qr-code img{
    width: 100% ;
    height: auto;
    display: block;
}
.text-content {
  padding: 0 16px;
}

.text-content h1 {
  font-size: 20px;
  font-weight: 700;
  color: #21314d; 
  line-height: 1.3;
  margin-bottom: 16px;
}

.text-content p {
  font-size: 15px;
  font-weight: 400;
  color: #696f7b; 
  line-height: 1.4;
  letter-spacing: 0.2px;
}


.attribution {
  font-size: 11px;
  text-align: center;
  color: #21314d;
  padding: 1rem;
  
}

.attribution a {
  color: #1f7ced;
  text-decoration: none;
  
}

.attribution a:hover {
  text-decoration: underline;
}